_build/
.git/
assets/node_modules/
deps/
infra/
!infra/docker/docker-entrypoint.sh
test/
priv/static/

.credo.exs
.dockerignore
.gitignore
.env.*
.envrc
.formatter.exs
.travis.yml
Dockerfile
Makefile
README*
