# App artifacts
/_build
/db
/deps
/*.ez
/cover
/tmp

# Generated on crash by the VM
erl_crash.dump

# Generated on crash by NPM
npm-debug.log

# Static artifacts
/assets/node_modules

# Ignore assets that are produced by build tools
/priv/static/assets

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# Local environment variable files
.env.local
.env.*.local

# Sobelow version breadcrumb
.sobelow

# Ignore Dialyzer’s Persistent Lookup Table (PLT)
/priv/plts/
