.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Liberation Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  line-height: 1.4;
}

.home a {
  display: block;
  margin: 0 0 20px;
}

.home p {
  margin: 0 0 20px;
}

.home p:last-child {
  margin-bottom: 0;
}

.flash-messages {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}
