<main role="main">
  <div class="flash-messages">
    <.flash flash={@flash} kind={:success} />
    <.flash flash={@flash} kind={:error} />
    <.flash flash={@flash} kind={:info} />
  </div>

  <%= @inner_content %>
</main>
